.col-md-6.col-md-offset-3
    form.panel.panel-default(name="contactForm",
        ng-class="{'panel-danger': contactForm.$invalid, 'panel-success': contactForm.$valid}")
        .panel-heading
            h2 Napisz do nas
        .panel-body
            .form-group
                label(for="name") Imię i nazwisko
                input#name.form-control(type="text", name="name"
                    ng-model="contact.name", ng-minlength="3", required
                )
                div(ng-messages="contactForm.name.$error",
                    ng-show="contactForm.name.$dirty || contactForm.name.$touched")
                    p(ng-message="required") To pole jest wymagane!
                    p(ng-message="minlength") To pole musi mieć przynajmniej 3 znaki!
            .form-group
                label(for="phone") Nr telefonu
                input#phone.form-control(type="text", name="phone",
                    ng-model="contact.phone"
                )
            .form-group
                label(for="email") E-mail
                input#email.form-control(type="email", name="email",
                    ng-model="contact.email"
                )
            .form-group
                label(for="message") Wiadomość
                textarea#message.form-control(name="message",
                    ng-model="contact.message"
                )
        .panel-footer
            button.btn.btn-default(ng-click="contact = {}", type="reset") Wyczyść
            button.btn.btn-success.pull-right(ng-disabled="contactForm.$invalid") Wyślij

pre.col-md-3 {{ contact | json }}


// imię i nazwisko (obowiązkowe, minimum 3 znaki)
// nr. telefonu (nieobowiązkowy, minimum 8 znaków)
// e-mail (obowiązkowy)
// wiadomość (obowiązkowa, minimum 5 znaków)

// wyczyść (aktywny jeśli formularz był zmieniany)
// wyślij (aktywny jeśli dane prawidłowe)

//11 <form name="userform">
//12   <input type="email" name="mail" ng-model="field" required minlength="5" />
//13   <div ng-messages="userform.mail.$error" ng-messages-multiple>
//14     <p ng-message="required">Pole obowiązkowe</p>
//15     <p ng-message="minlength">Zbyt krótka wartość</p>
//16     <p ng-message="email">Wartość nie jest e-mailem</p>
//17   </div>
//18 </form>
