.row
    ng-include.col-md-3(src="'app/bookmarks/bookmarks.html'")
    .col-md-9
        h1 {{ ::album.name }}
        sw-actual-time
            span Aktualna godzina
        //  $window.setInterval(function () { scope.time = new Date() }, 1000)
        //  time | date:'HH:mm:ss'
        .row
            .col-xs-4
                img.img-responsive(ng-src="{{ album.images[0].url }}")
                spotify-poster(size="s" album="album")
            .col-xs-8
                ul.list-group
                    li.list-group-item(ng-repeat="track in album.tracks.items")
                        | {{ track.name }}
                        span.badge {{ track.duration_ms / 1000 }}
