body {
//  background: darken(#bada55, 30);
}

.albums {
    .album:nth-child(3n+1) {
        clear: left;
    }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.panel-heading {
    transition: all 2.5s;
}

@media screen and (min-width: 600px) {

}

// injector
// endinjector
