<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
                <span class="glyphicon glyphicon-home"></span> Gulp Angular
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in ::items" ui-sref-active="active">
                    <a ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
            </ul>
        </div>
    </div>
</nav>
