.row
    ng-include.col-md-3(src="'app/bookmarks/bookmarks.html'")
    .col-md-9
        form.input-group
            input.form-control(type="search",
            ng-model="query",
            autofocus,
            ng-model-options="{debounce: 250}")
            .input-group-btn
                button.btn.btn-primary(ng-click="search(query)") Szukaj
        br

        p.alert.alert-info(ng-if="isSearching") Trwa wyszukiwanie…


        // arr | paginate:pageNumber:perPage

        pagination(ng-model="page" ng-init="page=1" total-items="albums.length" items-per-page="6")
        div {{ page }}

        ul.albums.row.list-unstyled(ng-if="!isSearching")
            li.album.col-md-4(ng-repeat="album in albums | paginate:page:6")
                img.img-responsive(ng-src="{{ album.images[0].url }}")
                h3
                    a(ui-sref="album({albumId:album.id})") {{ album.name }}
                a.btn.btn-success.btn-xs(
                    ng-click="saveBookmark(album)"
                    ng-if="!isBookmarked(album)"
                ) zapisz
