div(ng-controller="bookmarksController")
    ul.row.list-unstyled
        li.col-md-6.col-sm-2.col-xs-3(ng-repeat="album in bookmarks() track by $index")
            img.img-circle.img-thumbnail(
                ng-src="{{ album.images[0].url }}"
                ng-click="remove(album)"
            )
